<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>USERS</title>
</head>
<body>
<h1>User List</h1>

<form action="/" method="get">
    <label for="count">User</label>
    <input type="number" id="count" name="count" min="1" max="count">
    <button type="submit">Show</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>